environment:
  matrix:
  - nodejs_version: "8"
  - nodejs_version: "10"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

build: off

test_script:
  - npm version
  - npm test

on_success:
  - ./node_modules/.bin/codecov
